In [1]:
# import the needed libraries and datasets
import numpy as np
import pandas as pd

**13. Change the age in row 'f' to 1.5.**

In [20]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [21]:
df = pd.DataFrame(data)
df['labels'] = labels
df.head()

  animal  age  visits priority labels
0    cat  2.5       1      yes      a
1    cat  3.0       3      yes      b
2  snake  0.5       2       no      c
3    dog  NaN       3      yes      d
4    dog  5.0       2       no      e

In [22]:
import warnings
warnings.filterwarnings('ignore') #this is to filter all the warnings.
df['age'][df['labels']=='f'] = 1.5
df.head

<bound method NDFrame.head of   animal  age  visits priority labels
0    cat  2.5       1      yes      a
1    cat  3.0       3      yes      b
2  snake  0.5       2       no      c
3    dog  NaN       3      yes      d
4    dog  5.0       2       no      e
5    cat  1.5       3       no      f
6  snake  4.5       1       no      g
7    cat  NaN       1      yes      h
8    dog  7.0       2       no      i
9    dog  3.0       1       no      j>

**18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.**

In [23]:
df.sort_values(['age'],ascending=False, inplace=True)
df.sort_values(['visits'],ascending=False, inplace=True)
df

  animal  age  visits priority labels
1    cat  3.0       3      yes      b
5    cat  1.5       3       no      f
3    dog  NaN       3      yes      d
8    dog  7.0       2       no      i
4    dog  5.0       2       no      e
2  snake  0.5       2       no      c
6  snake  4.5       1       no      g
9    dog  3.0       1       no      j
0    cat  2.5       1      yes      a
7    cat  NaN       1      yes      h