In [3]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df

          0         1         2
0  0.458929  0.735426  0.256098
1  0.547601  0.200625  0.489236
2  0.598665  0.154796  0.233712
3  0.558778  0.495600  0.047882
4  0.686957  0.600145  0.662162

In [5]:
df = df - df.mean()
df

          0         1         2
0 -0.111257  0.298108 -0.081720
1 -0.022585 -0.236693  0.151418
2  0.028479 -0.282523 -0.104106
3 -0.011408  0.058282 -0.289936
4  0.116771  0.162827  0.324344

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [6]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.675994,0.120921,0.241577,0.046442,0.535469,0.512974,0.525393,0.161416,0.294564,0.948012
1,0.282912,0.166836,0.354710,0.920825,0.461335,0.917509,0.740212,0.011664,0.482886,0.943914
2,0.406914,0.008350,0.814562,0.049954,0.058888,0.476663,0.201446,0.440912,0.208394,0.184676
3,0.012218,0.787852,0.043204,0.975825,0.745595,0.192757,0.790162,0.932091,0.644294,0.328282
4,0.439922,0.263040,0.977017,0.531138,0.106388,0.497418,0.189174,0.427149,0.182889,0.143675

In [9]:
sums = [sum(df[i]) for i in df.columns]
col_name = list('abcdefghij')[sums.index(min(sums))]
print(f'Column with minimum sum: {col_name}')

Column with minimum sum: b

In [10]:
sums

[1.8179601352623096,
 1.3469987752209764,
 2.4310701048622936,
 2.5241826247647556,
 1.907675341150049,
 2.597319886062218,
 2.4463869763251336,
 1.9732315763624615,
 1.8130276465194295,
 2.5485587572333555]